app/static/upload_folder/*
venv/*
__pycache__/*
app/__pycache__/*
*.pyc
*.pyo
*.pyd
.env
config.py
comuni.json
.devcontainer/devcontainer.json
.github/dependabot.yml
trash-disposal-app-406308-1c924f916c83.json
