Flask
Flask-WTF
bootstrap-flask
python-dotenv
requests
gunicorn
flask_bootstrap
openai
google-cloud-vision
google-auth
google-cloud-storage
Pillow
Flask-SQLAlchemy
flask-migrate
cloud-sql-python-connector[pg8000]
psycopg2