{% extends "base.html" %}
{% block content %}
    {{ super() }}
    <h2>Imagine fornita</h2>
    <img src = "{{ image_url }}" alt="image provided as input" height="300">
    <div class="jumbotron">
        <h2>Sembra che stai provando di buttare:</h2>
        <h4>{{ item_to_dispose }}</h4>
    </div>
    <form method="POST">
        {{ form.csrf_token }}
        <br>
        {{ form.confirm_input(class="btn btn-primary") }}
        <button type="button" onclick="toggleTextInput()" class="btn btn-primary" id="wrong_input_button">Non è l'oggetto giusto</button>
        <div class="form-group" id="object_change_text" style="display: none;">
            {{ form.input_field.label(class="col-form-label") }}
            {{ form.input_field(class="form-control") }}
            <br>
            {{ form.confirm_edited_input(class="btn btn-primary") }}
        </div">
        <br>
    </form>
{% endblock %}
{% block scripts %}
    <script>
        function toggleTextInput() {
            var textInput = document.getElementById("object_change_text");
            var confirmInputButton = document.getElementById("confirm_input_button");
            var wrongInputButton = document.getElementById("wrong_input_button");
            confirmInputButton.style.display = "none";
            wrongInputButton.style.display = "none";
            textInput.style.display = "block";
        }
    </script>
{% endblock %}
