{% extends "base.html" %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
{% endblock %}
{% block content %}
    <h1 class="mb-4">Dove lo butto?</h1>
    {% from 'bootstrap5/form.html' import render_form %}
    {{ render_form(form) }}
{% endblock %}
{% block scripts %}
    <script>
        $(function() {
            $.ajax({
                url: '{{ url_for("autocomplete") }}'
                }).done(function (data){
                    $('#comune_autocomplete').autocomplete({
                        source: data,
                        minLength: 2
                    });
                });
            });
    </script>
{% endblock %}
