<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dove lo butto?!</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
        {% endblock %}
    </head>
    <body>
        <div id="content" class="container mt-5"> 
            {% block content %}
                <h1 class="mb-4">Dove lo butto?</h1>
            {% endblock %}
        </div>
        <div id="footer" class="container mt-5">
            {% block footer %}
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                    </ul>
                {% endif %}
            {% endwith %}
            {% endblock %}
        </div>
    </body>
    {% block scripts %}{% endblock %}
</html>
